.main_contents
  %div{calss: "main_contents_style"}
    #pairs_search_page.main.box_search_view.contents_padding
      %div
        .notification
          .box_notice_summry
            %ul.notice_list
              %li.notice_item
                [○月○日]○人があなたのプロフィールを訪問しました。
      .banner_contents
        広告
      .box_search_menu
        .button_search_setting
          = link_to "", id: "openSearchConditionBtn", class: "button_b button_white_a is_set_search_condition" do
            %span.is_set_search_condition 検索条件設定中
        %nav.box_change_view_tabs
          %ul.change_view_tabs
            %li.tab_item.tab_item01.is_current
              = link_to "", "", id: "tab_item001"
            %li.tab_item.tab_item02
              = link_to "", "", id: "tab_item002"
        %p.search_result_count 46人中 7人表示
      .box_grid_header.clearfix
        .box_grid_header01
          %p.header_diplay_label 表示人数:
          .header_display_select
            %select.customSelect.ng-pristine.ng-valid.hasCustomSelect.ng-not-empty.ng-touched.select_style
              %option{selected: "selected", value: "16"} 16人
              %option{value: "32"} 32人
              %option{value: "64"} 64人
              %option{value: "96"} 96人
              %option{value: "128"} 128人
            %span.customSelect.ng-pristine.ng-untouched.ng-valid
              %span.customSelectInner 16人
        .box_grid_header02
          %button.button_b.button_white_a.button_show_pickup
            今日のピックアップ
        .box_grid_header03
          %span.total_like_number_desc 「いいね！」をあと
          %em
            %span.total_like_number_header> 30
            人
          押しましょう！
      .box_user_selected.ng-hide
        .user_selected_list
      .box_list_view_user
        %ul.list_view_users
          / = render partial: "pairs/shared/list_view_user_item" ユーザーのテンプレ
        %ul.list_view_users.clearfix
          %li.list_view_user_item
            %div
              %div
                %div
                  = link_to "", class: "showPersonalViewModal" do
                    = image_tag "https://lh3.googleusercontent.com/F90t0RCwPpsxLWHuAxZxJntagAbCLW20BgcY44mljphwTgtAN1C3Df8pIwqLKfkN0AywfjMmmTTyTjwuY6q_bqU5bWxo33M0j7VJPVbercsR12fQrwzaLlkojLk_wnjlmujkFGE5A290fnIWGAl7rp-vdQGjrEX6tXjvKhcBXmUutoUl9VgQlqZx3WKx-W91Y0pNqMfQzOn_gv2A9wC6HBx5qKvkekSdkJ8cGXhWffyeOI1XDX2WP3QcO5DaSxB4ZE76djSDnJfkimvHDbpG_B8uJE1sN6YWr5IYnSr_lCkMQbdyRGsVUceYrvfwfRTri_G28az4FRx2_cvdg7FnWJ5Gf6ltwJJXhai4LLkVXyCSbAo8k6D_0kHloFHdWOPnT8vL0ZttvEiCxQe4sZj70Mv3nsmIYUFRj4oQJd6Ff1cVsgYG7o4oYopdN82eYUFouN4cHVnpX1bmne1dmC16AiW4VKwo6DlqYwoaMWh4EUn1YzGPZxQqCqgRZSmEm2ewsgNKZzv-TlGAI5570jD5ny52SiKZtDlm5JdN_aSHGYPcuOxpW2TB4kekudPFTu38Lq3n4BDWvuZJ-e8zIzzBtAiHfwASNJMHxLDbOh2KWnlfe0E0e7l4vRsFJ22tweL4hKCNeIdU9rsXzVl3-kcwKqMSi4XZwgqV=w204-h247-no", class: "list_view_user_photo image-circle"
            .PrivateMode
              .box_user_info01
                %p.user_summary
                  %span.is_3days
                  %span.user_area{limit_length: "5"} 東京
                  %span.user_age 23歳
              .box_user_info03
                %p.user_chemistry.user_chemistry_a.is_chemistry_heart75_a
                  60%
                %p.user_like_count.user_like_count_a
                  %span
                    %em 100
                    %em ?
                .user_tweet
                  .user_tweet_body
                    はじめまして！
              .box_button_like
                %div
                  %span
                    = link_to "", class: "button_like button_like_default button_pink_c button_like_view button_d" do
                      %span.like いいね！
      .box_result_pager
        ここにページネーション
      .box_like_remaining
        %p
          あと
          %em
            %span#total_like_numbers_footer 30
            人
          に「いいね！」ができます
  #main_footer.main_footer
    .pc-web-footer-banner
      広告
    %nav.footer_navi
      %ul
        %li.footer_navi_item
          = link_to "Pairsとは", "#", target: "_blank"
        %li.footer_navi_item
          = link_to "幸せレポート", "#"
        %li.footer_navi_item
          = link_to "安心の常時監視体制", "#"
        %li.footer_navi_item
          = link_to "安心のセキュリティー", "#"
        %li.footer_navi_item
          = link_to "ヘルプ", "#", target: "_blank"
        %li.footer_navi_item
          = link_to "お問い合わせ", "#"
      %ul
        %li.footer_navi_item
          = link_to "会社概要", "#", target: "_blank"
        %li.footer_navi_item
          = link_to "利用規約", "#"
        %li.footer_navi_item
          = link_to "プライバシーポリシー", "#"
        %li.footer_navi_item
          = link_to "特定商取引法に基づく表示", "#"
    .footer_label
      .footer_label_horizontal_box
        = link_to do
          .link_to_truste.mr60
            = image_tag "https://static-pairs.akamaized.net/public/img/sp/img_jp/statics/truste/truste_ja.png"
        %table.footer_label_ssl{title: "このマークは、SSLで通信を保護している証です。"}
          %tbody
            %tr
              %td
                = link_to do
                  = image_tag "//smarticon.geotrust.com/smarticon?ref=pairs.lv", alt: "クリックして企業プロファイルを表示", name: "doidxvgm", oncontextmenu: "return false;"
                = link_to "SSLとは", "", target: "_blank", class:"ssl_link"
    %p.footer_approved インターネット異性紹介事業 届出済み
    %small.footer_copyright (c) eureka, Inc.
