.sidecontents
  .sidemenu
    .my_profile_summary

      %p.profile_photo
        = link_to "" do
          =image_tag "https://lh3.googleusercontent.com/onZExYrLkqq2l0QBLMpT1Mp9Vgwq8IKArl8UML5S4u8w2jLKs5gXuuJ6O0ErU07nSUCmcA3NmSNZJrZ74IV8IZFY3dnQQTdCuCmFEMYBvZhzdYhBZGDGxhTMmK26K-opAaLFkyMTOx5nExmb5b5hAh-0JoVRwvQMxCWNtr14Ms4BW26loLBXpVpnWYBxslP0I-QJsxD2vWRhJ7Ee1sE0pw3K6L7SNAh1yt4OnHWSUTexcYCv5j9uUGMp1BndmF0BKjTvATPhjdWrAeE5gMdT9pmGOKEpmQzUHgSpHOe7Z6SWJ6hcrG4ESJAycmR3mueXgSd9deBmUfZPDedhwG0eGGZ_veWVMizFLQBIBafVX_uqwGc8BNy5kc9EHUf8UQK3FqzQh_2ewBulpJuO7p68Vkrs_1YFH751IvNAwbdMd46LiMU_-GVMGUMaLbO8pdVE6TDO85wjNwKgVb5_z1ZvT9b1x7uEv1PI7dPjo98SbNnQJUGcKSyfFD4rfAWJZLA9SdCJktR6kDTpqfKxHNVZJK2JZWh4ODnE8TkE2JYFhWcb9SB48CPPsbIJl18QTMWwVRm9ZzWkK4KWgT6EbZnvmqshQiCq3rIZLWotiQ=s636-no", height:"60", width:"60"

      %p.profile_name
        = link_to "秋元康 東京", ""

      %p.profile_status.is_free_member
        = link_to "ここに年齢",""

    .my_profile_input_rate
      %p.input_rate_label
        %span.input_rate_percent_value ここに%

      .box_input_rate_grahp
        .input_rate_grahp_value.is_percent_100

    / .ml10.mb15
    /   %a
    /     %img

    .box_my_status
      %ul.my_statuse_list

        %li.my_status_item.leftover_like
          %p.status_label 残りいいね数
          %p#total_like_numbers.stats_value 9億
          = link_to "追加する","",class: "button_c button_orange_a link_more"

        %li.my_status_item.leftover_point
          %p.status_label ポイント残高
          %p#total_point_numbers.stats_value 9億
          = link_to "追加する","",class: "button_c button_orange_a link_more"


    .box_my_private_mode
      =link_to "" do
        .box_pm
          .box_pm_state
            .pm_state_image
              %img{:src => "https://lh3.googleusercontent.com/n9EbfX49iFUVcWDKFudLSsMaz7uDJw7YVBJmqBhyvNrENvmW5N3g9yQ-ygVfv3oADBetzmj855AOaMYM7X2eRXBVlp46d4OqFPdYD4KG8lCuhga6u5VZvviaZ3M-454LAgblK9RcbAUZWeU-omd4SWQ2SBc9FBUMcxnhhnMQZV4jA5FuixcOOYROivqkWcn3xfaEBInbFO-ZcqcSsHtrqc_uCLXw48d_sIAvnawBO8y0n14ZwRiQEJuFC67hzGwYVk-i0Qb7csR4FlWmUfIZ_HpSa69ebeT5q5RSUniNdQ49Z5vLkNZHyb0KuYRy6f6s7EHQdbhBRn4IEBQIH-rqCF3puohwNoBA5QdxZQq0YWBvMuKXo3u3I1ft-g2rYgsVU7JQUaeaTMSwWrF7gh8-8YpL70v1dE7jlz66zQ1MK2uWg1N-j-6IhyO57E_ot0Bh-gqIZ4GcHGvmzR9wZA5Z84wYnDKoUKGV6xFdCBczjwnLsX5CA7EXiRtKwkbtA41yacN-iMXt7pECk1FhynGOb03kpUu_bpcW6JwarzuK564FsyGZQjDP9aWQ0mgoChsZJvSJKYzICqVoCsWlhePdfWzlDKE0hyV9b8tEFD4=s64-no", :width => "32", :height => "32"}/
            %p.pm_state_text プライベートモードがOFFになっています
          %p.link_pm_setting プライベートモードとは？

    %nav.box_gnavi
      .box_gnavis01
        %p.gnavi_title さがす
        %ul
          %li.gnavi_item.is_currentgnavi_item.is_current
            =link_to "",class: "sidemenu_link" do
              %span お相手を探す

      .box_gnavis02
        %p.gnavi_title いいね
        %ul
          %li.gnavi_item
            =link_to "相手からのいいね","",class: "sidemenu_link"
          %li.gnavi_item
            =link_to "自分からのいいね","",class: "sidemenu_link"
          %li.gnavi_item
            =link_to "お気に入り","",class: "sidemenu_link"

      .box_gnavis03
        %p.gnavi_title マッチング
        %ul
          %li.gnavi_item
            =link_to "メッセージ","",class: "sidemenu_link"

      .box_gnavis04
        %p.gnavi_title コミュニティ
        %ul
          %li.gnavi_item
            =link_to "コミュニティを探す","",class: "sidemenu_link"

      .box_gnavis04
        %p.gnavi_title 年齢確認
        %ul
          %li.gnavi_item
            =link_to "年齢確認","",class: "sidemenu_link"

      .box_gnavis04
        %p.gnavi_title 有料サービス
        %ul
          %li.gnavi_item.ng-hide
            =link_to "有料会員とは？","",class: "sidemenu_link"
          %li.gnavi_item.ng-hide
            =link_to "プレミアムオプション","",class: "sidemenu_link"
          %li.gnavi_item
            =link_to "レディースオプション","",class: "sidemenu_link"
          %li.gnavi_item
            =link_to "Pairsポイント","",class: "sidemenu_link"

      .box_gnavis04
        .gnavi_title 足あと
        %ul
          %li.gnavi_item

            =link_to "足あと","",class: "sidemenu_link"
      .box_gnavis04
        %p.gnavi_title 各種設定
        %ul#sidemenu_settings
          %li.gnavi_item
            =link_to "通知/いいね上限","",class: "sidemenu_link"
          %li.gnavi_item
            =link_to "非表示・ブロック","",class: "sidemenu_link"
          %li.gnavi_item
            =link_to "オフラインモード設定","",class: "sidemenu_link"

      .box_gnavis04
        %p.gnavi_title 困ったときは
        %ul#sidemenu_settings
          %li.gnavi_item
            =link_to "弁護士相談費用サポート","",class: "sidemenu_link"
    %nav.box_other_navi
      %ul
        %li.other_navi_item.other_navi_item01
          =link_to "はじめての方へ","",class: "sidemenu_link"
        %li.other_navi_item.other_navi_item03
          =link_to "ヘルプ","",class: "sidemenu_link"
