.sidecontents
  .sidemenu
    .my_profile_summary

      %p.profile_photo
        = link_to "" do
          =image_tag "https://lh3.googleusercontent.com/H0cY37aczqfZ-UQAYgXxUciykbSIvs-2FRH-GI_VMdaP882ZipIi9Zw4_9s0D5COA4QWsYzWgbAYezBDc5tLdyKJq2cHhaBOzypJsEShuUQkV8wCmBWsudMN_b-XQZiw4yUSpd-zXSGDCHJk1Opb9l2eiDgZBYke0ba27rRDKlSG4vSOZINeUmvvMnLynPXzWk1oX4bSFa8JNz6qYJYQw11oo9jlFRmfdtOYEqt_TASeZgXbdLHbrhjq6LfdCAA5GMcLGhigm0xDQVZeEmVV3TqexAxQgAWk7Td2NTLqelLdretLYU8rxkZpNmHUBHdYxOIXJEOsb7OyaKtQUvZuaT-i9E8VvBBPC0r2pKLH3HPeW0M_MjPQtvJX-d0VLxfNawC1Zz6zrqvaC3AH5bnveo_BMzxLj7gp__GvA27u256lDNTnXIza2yHtr7vb-kNe7e8e5JUe27MF8qjvLXkzfkXSpYBIEcBDuOvsWA2Qs2PjzfS4eGIo7qIUUbpWL2PqrPZT92MPiuysKV7HXnBlU6xZsrKcK_eXj8GmEhno8BjryCfmQnMoU4BZxwQcBaoY0zxfHvHEHv775fs1oaXMxDSE9Z0O6WpKSLrxKRZcfRHBp079HT_w8ASr4s1xAE1EcPNZssFBXdyOqRj_OhjIdfDXHzPy0DPB=s636-no", height:"60", width:"60"

      %p.profile_name
        = link_to "秋元康 東京", myprofile_path

      %p.profile_status.is_free_member
        = link_to "ここに年齢",""

    .my_profile_input_rate
      %p.input_rate_label
        %span.input_rate_percent_value ここに%

      .box_input_rate_grahp
        .input_rate_grahp_value.is_percent_100

    / .ml10.mb15
    /   %a
    /     %img

    .box_my_status
      %ul.my_statuse_list

        %li.my_status_item.leftover_like
          %p.status_label 残りいいね数
          %p#total_like_numbers.stats_value 9億
          = link_to "追加する","",class: "button_c button_orange_a link_more"

        %li.my_status_item.leftover_point
          %p.status_label ポイント残高
          %p#total_point_numbers.stats_value 9億
          = link_to "追加する","",class: "button_c button_orange_a link_more"


    .box_my_private_mode
      =link_to "" do
        .box_pm
          .box_pm_state
            .pm_state_image
              =image_tag "https://lh3.googleusercontent.com/pJY4DSkddljXVXI8RWOe_kHc20D44LRNUU23vCyM9xPMlmXPCuFVNqu0Cq5um5bikq1eouMBOv0axyk9dFk96SPKCxkS3-KLBQFnSagmWE7qkk84avvvlqmGoa_YLl0waaoZrRqZcMxhd6mImrg8m5YGTkOTz_gba_OCF25GuILaJhrW8pSvTjJxGc09GScDFvs7kkMOJRnFcrJviY-ZoAa4ka0jWGLCCD7snppKWsS6XYnDBE6hJN9XCKkdZbTK4Rlt88GwORoYnNWEo381SWZiStWSztGsd33qQbQ8gIAw5VRWpBekIuzVFB8rMBBoiN3G80Jl3Pf9fyorUW_LoIxAABMrErRzLSKbDFZnR_GC59TzKH7Gj5sFLdJFbvjOHcbgNcpdIxZolVuQsiH4axlxH4WtuInYImpTtrJUtJ1TdtmonCFhEwkXWOlp5B_7neJAEmISJi9m5Xou_MBzDBwLUGWnjqJhySy_DGLBHmkIkgz7_x9IO897uDgeapG6YXlO8NtAVlc4fS-V4TZZmbgwuFkaH5Mled5aJMZ8ZtWZt-yjASxz8OmLHFcdfVzEaF4bB1VXNz0RuYWAKw755xqSQjnB_kXsuWCGmKTOiLtlRzGS3ahxSXhPLfcBIEjUkxmcY6T4eg9YCqludMfn4xb_CNe_ug8k=s64-no", width: "32", height: "32"
            %p.pm_state_text プライベートモードがOFFになっています
          %p.link_pm_setting プライベートモードとは？

    %nav.box_gnavi
      .box_gnavis01
        %p.gnavi_title さがす
        %ul
          %li.gnavi_item
            =link_to root_path,class: "sidemenu_link" do
              %span お相手を探す

      .box_gnavis02
        %p.gnavi_title いいね
        %ul
          %li.gnavi_item
            =link_to "相手からのいいね",like_from_partner_path,class: "sidemenu_link"
          %li.gnavi_item
            =link_to "自分からのいいね",like_from_me_path,class: "sidemenu_link"
          %li.gnavi_item
            =link_to "お気に入り",like_favorite_path,class: "sidemenu_link"

      .box_gnavis03
        %p.gnavi_title マッチング
        %ul
          %li.gnavi_item
            =link_to "メッセージ",messages_path,class: "sidemenu_link"

      .box_gnavis04
        %p.gnavi_title コミュニティ
        %ul
          %li.gnavi_item
            =link_to "コミュニティを探す","",class: "sidemenu_link"

      .box_gnavis04
        %p.gnavi_title 年齢確認
        %ul
          %li.gnavi_item
            =link_to "年齢確認","",class: "sidemenu_link"

      .box_gnavis04
        %p.gnavi_title 有料サービス
        %ul
          %li.gnavi_item.ng-hide
            =link_to "有料会員とは？","",class: "sidemenu_link"
          %li.gnavi_item.ng-hide
            =link_to "プレミアムオプション","",class: "sidemenu_link"
          %li.gnavi_item
            =link_to "レディースオプション","",class: "sidemenu_link"
          %li.gnavi_item
            =link_to "Pairsポイント","",class: "sidemenu_link"

      .box_gnavis04
        .gnavi_title 足あと
        %ul
          %li.gnavi_item

            =link_to "足あと", visitorlist_path,class: "sidemenu_link"
      .box_gnavis04
        %p.gnavi_title 各種設定
        %ul#sidemenu_settings
          %li.gnavi_item
            =link_to "通知/いいね上限","/privacysetting#box_notify",class: "sidemenu_link"
          %li.gnavi_item
            =link_to "Facebook友達更新","/privacysetting#box_fb_friend",class: "sidemenu_link"
          %li.gnavi_item
            =link_to "非表示・ブロック","/privacysetting#box_hide_block",class: "sidemenu_link"
          %li.gnavi_item
            =link_to "オフラインモード設定(男性)","/privacysetting#box_offline_male",class: "sidemenu_link"
          %li.gnavi_item
            =link_to "オフラインモード設定(女性)","/privacysetting#box_offline_female",class: "sidemenu_link", id: "female_gnavi_item"

      .box_gnavis04
        %p.gnavi_title 困ったときは
        %ul#sidemenu_settings
          %li.gnavi_item
            =link_to "弁護士相談費用サポート","",class: "sidemenu_link"
    %nav.box_other_navi
      %ul
        %li.other_navi_item.other_navi_item01
          =link_to "はじめての方へ","",class: "sidemenu_link"
        %li.other_navi_item.other_navi_item03
          =link_to "ヘルプ","",class: "sidemenu_link"
