.search
  = search_form_for(@q, url:search_result_path) do |f|
    %table
      %tbody
        %tr
          %th
            = f.label :residence_id_eq, '居住地'
          %td
            = f.collection_select :residence_id_eq, @residence,  :id, :prefecture, include_blank: 'こだわらない'
        %tr
          %th
            = f.label :occupancy_id_eq, '職業'
          %td
            = f.collection_select :occupancy_id_eq, @occupancy,  :id, :occupancy, include_blank: 'こだわらない'
        %tr
          %th
            = f.label :smoke_id_eq, 'タバコ'
          %td
            = f.collection_select :smoke_id_eq, @smoke,  :id, :frequency, include_blank: 'こだわらない'
        %tr
          %th
            = f.label :alcohol_id_in, 'お酒'
          %td
            -# = f.button "リセット", type: :button, class: "reset_button"
            = f.collection_check_boxes :alcohol_id_in, @alcohol, :id, :frequency
        %tr
          %th
            = f.label :school_id_in, '学歴'
          %td
            -# = f.button "リセット", type: :button, class: "reset_button"
            = f.collection_check_boxes :school_id_in, @school, :id, :school
    = f.submit