.ui-view_class
  .main.box_community_view.contents_padding
    .common_page_header
      = render partial: "common_page_header"
    .data-community-search-area
      .box_community_header.common_inline_box
        = render partial: "box_community_header"
    .data-community-detail
      .box_community_detail_header
        %ul.breadcrumb_list
          %li
            = t("enums.community.category.#{@community.category}")

        .community_info
          .box_community_image
            .community_image.image-round
              = image_tag @community.image.url
          .community_info_inner
            %p.community_title.title_b
              #{@community.community_name}
            %p.community_member_count<>
              メンバー
              %em
                %span.member_total 2
                人
              %span 女性
              %span.ng-hide 男性
              %em
                %span.member_total 1
                人
            .community_entry
              .entry_text
                %strong<>
                  コミュニティに参加すると、共通の趣味
                  %br<>
                  ユーザーからいいね！をもらいやすい！
                %p ※参加したことは異性にしか表示されません。
              .div

                / if文で切り分け？
                %a.button_entry.button_a.button_pink_a#unsubscribe
                  このコミュニティを退会する
                %a.button_entry.button_a.button_blue_a#entry
                  このコミュニティに参加する

    /参加メンバーに関してのコンテンツ
    - if @users.present?
      %ul.list_view_users
        - @users.each do |user|
          = render partial: "pairs/shared/list_view_user_item", locals: { user: user }


    .data-community-view-users
      .box_community_member_header.mb0
        %p.member_header_title
          %span メンバー
          %em.member_count
            %span.member_total 31
            人
          %span.member_note ※女性のみ表示されます
        %pager_info
          %span.pager_count 4
          人中
          %span.pager_start 1
          〜
          %span.pager_end
          人を表示
      /ページネート
      .box_community_pager.box_pager
        .pager_pre.pager_item.button_c.button_white_a
        %ol.pager_num
        %a.pager_next.pager_item.button_c.button_white_a

      /メンバー表示域
      .box_list_view_user
        / 異性メンバーがいる場合
        %ul.list_view_user
          %li.list_view_user_item


      / 異性メンバーがいない場合に表示
      %div
        %p.text_no_partner_in_community
          %span このコミュニテイに異性のメンバーはまだいません。

      .box_community_pager.box_pager

    / コミュニティ参加ポップアップ
    .data-community-join-modal
      .box_modal_window.hide.modal_community#modal_comunity_join
        .box_modal_window_inner
          %a.modal-close.modal_close#close_premium_modal
            %img{src: "https://lh3.googleusercontent.com/JZ5QgP9n4HLC-gnXIcJAsLL2zh7NV0OxNWjjOWOoxbD5gU8a1VBfjDBNzifCYTU9cwBfJByoPM6QPg0BMLsgcA2biofLRmrpfI3trDe8vXreEbsQQ4q9HR_n7iPL3E16d3a4k0W4saje0qJMC6j2vyVepU1EWQj2BEiQcB8iXviUAhzI3Rw4cPIAzZUKv4FJf8d2gBODxBt7nUyWkdR6DlUuAo5X8WxW-7c7PRb9Z0_VzojmdeKrOGmtTYE4LGflbY4dkwRUt7owI0oYY-NWZGRiyMBANMfnfKJZrM7NrA8R3gvX6gNxQ9lb-2H4kdZBxnNJJiIZCbA3U6FkJ7L7qCoRPcSY7A31anQLjuZp2F6zQEbKRZevBtrU6KfCGEMf-k6a7dNbTfx1LiwUa1WbXcWmrqXt1upE1hSlolc4bc5xDXHh22L9OydnIHQ7M8LB-Pqk-9nDdHAM4MpYk16mGNSgFaV7wPAdPAHqTcF3szUqQ-r-wAqSmcb_8RmKplujpNHYcRI1-42F9gCF4ibvYV3ir1fGRZIRkYQsqtbbXReqsQi_mfqmJ5djsW1f60oR9kuTiMMjvMChx8b0a1O19Iin7jEfomS9fvQUKdQuscsYlMTcNddsNpFkrO1GiBLkR_hqVzUHmtQPZC2_Omnx8veBWnRVDywk=s53-no"}/
          %p.modal_title
            このコミュニティに参加しますか？
          .modal_button_area.text_center
            %a.button_a.button_gray_a.modal-close
              いいえ
            %a.button_a.button_blue_b.modal-ok
              はい
    / コミュニティ退会ポップアップ
    .data-community-leave-modal
      .box_modal_window.hide.modal_community#modal_comunity_leave
        .box_modal_window_inner
          %a.modal-close.modal_close#close_premium_modal
            %img{src: "https://lh3.googleusercontent.com/JZ5QgP9n4HLC-gnXIcJAsLL2zh7NV0OxNWjjOWOoxbD5gU8a1VBfjDBNzifCYTU9cwBfJByoPM6QPg0BMLsgcA2biofLRmrpfI3trDe8vXreEbsQQ4q9HR_n7iPL3E16d3a4k0W4saje0qJMC6j2vyVepU1EWQj2BEiQcB8iXviUAhzI3Rw4cPIAzZUKv4FJf8d2gBODxBt7nUyWkdR6DlUuAo5X8WxW-7c7PRb9Z0_VzojmdeKrOGmtTYE4LGflbY4dkwRUt7owI0oYY-NWZGRiyMBANMfnfKJZrM7NrA8R3gvX6gNxQ9lb-2H4kdZBxnNJJiIZCbA3U6FkJ7L7qCoRPcSY7A31anQLjuZp2F6zQEbKRZevBtrU6KfCGEMf-k6a7dNbTfx1LiwUa1WbXcWmrqXt1upE1hSlolc4bc5xDXHh22L9OydnIHQ7M8LB-Pqk-9nDdHAM4MpYk16mGNSgFaV7wPAdPAHqTcF3szUqQ-r-wAqSmcb_8RmKplujpNHYcRI1-42F9gCF4ibvYV3ir1fGRZIRkYQsqtbbXReqsQi_mfqmJ5djsW1f60oR9kuTiMMjvMChx8b0a1O19Iin7jEfomS9fvQUKdQuscsYlMTcNddsNpFkrO1GiBLkR_hqVzUHmtQPZC2_Omnx8veBWnRVDywk=s53-no"}/
          %p.modal_title
            このコミュニティを退会しますか？
          .modal_button_area.text_center
            %a.button_a.button_gray_a.modal-close
              いいえ
            %a.button_a.button_blue_b.modal-ok
              はい

