.profile__contents
  = form_for @user, url: user_detail_path do |f|
    %table
      %tbody
        %tr
          %th
            = f.label :residence_id, "都道府県"
          %td
            = f.collection_select :residence_id, Residence.all, :id, :prefecture, :prompt => "選択してください"
        %tr
          %th
            = f.label :alcohol_id, "お酒"
          %td
            = f.collection_select :alcohol_id, Alcohol.all, :id, :frequency, :prompt => "こだわらない"
    = f.submit "Send"